.class-skills-pin,
.class-skills-toggle {
    height: 100%;
    transform: rotate(0deg);
    transition: transform 0.25s ease;
    width: 100%;
}

.class-skills-pin[aria-checked="true"] {
    transform: rotate(-45deg);
}

.class-skills-toggle[aria-expanded="true"] {
    transform: rotate(90deg);
}

.class-skills-list-header,
.class-skills-row {
    align-items: center;
    display: grid;
    grid-template-columns: 0.25fr 1fr 1fr 1fr 3fr 0.25fr;
}

.class-skills-list-header {
    border-bottom: 1px solid #CCCCCC;
    font-weight: bold;
    order: -10;
}

.class-skills-list-header > div,
.class-skills-row > div {
    padding: 0.5rem;
}

.class-skills {
    border-bottom: 1px solid #CCCCCC;
}

.class-skills[aria-pinned="true"] {
    background-color: #D0D0D0;
    border-bottom: 1px solid #AAAAAA;
    order: -1;
}

.class-skills:last-child {
    border-bottom: none;
}

.class-skills > .class-skills-description-container {
    height: auto;
    opacity: 1;
    overflow: hidden;
    padding: 0.25rem 1rem 0.75rem 1rem;
    transition: height 0.33s,
                opacity 0s,
                padding 0s;
}

.class-skills > .class-skills-description-container strong {
    font-weight: 600;    
}

.class-skills > .class-skills-description-container > .class-skills-additional-requirement {
    margin-bottom: 1rem;
}

.class-skills > .class-skills-description-container > .class-skills-description {
    white-space: pre-wrap;
}

.class-skills > .class-skills-description-container.hidden {
    height: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
}

.class-skills-row > .class-skills-expand,
.class-skills-row > .class-skills-pin {
    font-size: 125%;
    padding: 0;
    margin: 0;
}