.content-container .arcana-list-header,
.content-container .arcana-row {
    grid-template-columns: 0.25fr 3fr 3fr 0.25fr;
}

.content-container .class-skills-list-header,
.content-container .class-skills-row {
    grid-template-columns: 0.25fr 1.5fr 1.5fr 2fr 1fr 0.25fr;
}

.content-container .dances-list-header,
.content-container .dances-row {
    grid-template-columns: 0.25fr 2fr 4fr 0.25fr;
}

.content-container .heroic-skills-list-header,
.content-container .heroic-skills-row {
    grid-template-columns: 0.25fr 1fr 1fr 1fr 3fr 0.25fr;
}

.content-container .magiseeds-list-header,
.content-container .magiseeds-row {
    grid-template-columns: 0.25fr 2fr 4fr 0.25fr;
}

.content-container .magiseeds-description table {
    width: 100%;
    border-collapse: collapse;
}

.content-container .magiseeds-description th,
.content-container .magiseeds-description td {
    padding: 0.5rem;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #AAAAAA;
    border-left: 1px solid #AAAAAA;
}

.content-container .magiseeds-description th {
    background-color: #964B00;
    color: #E8ECEF;
    font-weight: 600;
}

.content-container .magiseeds-description th:first-child {
    text-align: center;
}

.content-container .magiseeds-description td:first-child {
    background-color: #d2b48c;
    font-weight: 600;
}

.content-container .magiseeds-description th:first-child,
.content-container .magiseeds-description td:first-child {
    white-space: nowrap;
    width: 1%;
}

.content-container .spells-list-header,
.content-container .spells-row {
    grid-template-columns: 0.25fr 1.25fr 1fr 0.75fr 1.5fr 1.5fr 0.25fr;
}

.content-container .symbols-list-header,
.content-container .symbols-row {
    grid-template-columns: 0.25fr 6fr 0.25fr;
}