.content-container [class*="-pin"],
.content-container [class*="-toggle"],
.content-container [class*="-multitoggle"] {
    font-size: var(--font-size-large);
    height: 100%;
    transform: rotate(0deg);
    transition: transform 0.25s ease;
    width: 100%;
}

.content-container [class*="-multitoggle"] {
    font-size: var(--font-size-xl);
}

.content-container [class*="-pin"][aria-checked="false"]::before {
    content: '☆';
}

.content-container [class*="-pin"][aria-checked="true"]::before {
    content: '★';
}

.content-container [class*="-toggle"][aria-expanded="true"] {
    transform: rotate(90deg);
}

.content-container [class*="-group"] {
    display: grid;
    overflow-x: auto;
    max-width: 100%;
    width: 100%;
}

.content-container [class*="-group"].hidden {
    display: none;
}

.content-container [class*="-group-title"] {
    font-weight: 600;
    padding: 0.25rem 0.75rem 0 0.75rem;
}

.content-container [class*="-group"]:not(:first-of-type) [class*="-group-title"] {
    padding-top: 1rem;
}

.content-container [class*="-list-header"],
.content-container [class*="-row"] {
    display: grid;
    grid-template-columns: 0.25fr 1fr 1fr 1fr 1fr 1fr 1fr 0.25fr;
}

.content-container [class*="-row"] {
    align-items: center;
}

.content-container [class*="-list-header"] {
    align-items: center;
    border-bottom: 1px solid #CCCCCC;
    font-size: var(--font-size-mediumlarge);
    font-weight: bold;
}

.content-container [class*="-list-header"] > :first-child,
.content-container [class*="-list-header"] > :last-child {
    margin: 0;
    padding: 0;
}

.content-container [class*="-list-header"] > div,
.content-container [class*="-row"] > div {
    padding: 0.4rem;
}

.content-container :has(> [class*="-row"]) {
    border-bottom: 1px solid #CCCCCC;
}

.content-container :has(> [class*="-row"])[aria-pinned="true"] {
    background-color: #D0D0D0;
    border-bottom: 1px solid #AAAAAA;
    order: -1;
}

.content-container :has(> [class*="-row"]):last-child {
    border-bottom: none;
}

.content-container [class*="-description-container"] {
    height: auto;
    opacity: 1;
    overflow: hidden;
    padding: 0.5rem 1rem 0.75rem 1rem;
    transition: height 0.33s,
                opacity 0s,
                padding 0s;
}

.content-container [class*="-description-container"] strong {
    font-weight: 600;    
}

.content-container [class*="-description-container"] [class="additional-requirements"],
.content-container [class*="-description-container"] [class="description"],
.content-container [class*="-description-container"] [class="spell-block"] {
    margin-bottom: 0.75rem;
}

.content-container [class*="-description-container"] [class="spell-block-header"] {
    background-color: #1D5837;
    border-bottom: 1px solid #AAAAAA;
    color: #E8ECEF;
    display: grid;
    font-weight: 600;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0.25rem 1rem;
}

.content-container [class*="-description-container"] [class="spell-block-header"] span {
    font-weight: normal;
}

.content-container [class*="-description-container"] [class="spell-block-description"] {
    padding: 0.25rem 1rem 0rem 1rem;
}

.content-container [class*="-description-container"] [class="tag-list"] {
    font-size: var(--font-size-smallmedium);
    color: #888888;
}

.content-container [class*="-description-container"].hidden {
    height: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
}

.content-container [class*="-row"] > [class*="-expand"],
.content-container [class*="-row"] > [class*="-pin"] {
    font-size: 125%;
    padding: 0;
    margin: 0;
}

.content-container .magiseeds-description-container table {
    width: 100%;
    border-collapse: collapse;
}

.content-container .magiseeds-description-container th,
.content-container .magiseeds-description-container td {
    padding: 0.5rem;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #AAAAAA;
    border-left: 1px solid #AAAAAA;
}

.content-container .magiseeds-description-container th {
    background-color: #964B00;
    color: #E8ECEF;
    font-weight: 600;
}

.content-container .magiseeds-description-container th:first-child {
    text-align: center;
}

.content-container .magiseeds-description-container td:first-child {
    background-color: #d2b48c;
    font-weight: 600;
}

.content-container .magiseeds-description-container th:first-child,
.content-container .magiseeds-description-container td:first-child {
    white-space: nowrap;
    width: 1%;
}