.dances-pin,
.dances-toggle {
    height: 100%;
    transform: rotate(0deg);
    transition: transform 0.25s ease;
    width: 100%;
}

.dances-pin[aria-checked="true"] {
    transform: rotate(-45deg);
}

.dances-toggle[aria-expanded="true"] {
    transform: rotate(90deg);
}

.dances-list-header,
.dances-row {
    align-items: center;
    display: grid;
    grid-template-columns: 0.25fr 2fr 4fr 0.25fr;
}

.dances-list-header {
    border-bottom: 1px solid #CCCCCC;
    font-weight: bold;
    order: -10;
}

.dances-list-header > div,
.dances-row > div {
    padding: 0.5rem;
}

.dances {
    border-bottom: 1px solid #CCCCCC;
}

.dances[aria-pinned="true"] {
    background-color: #D0D0D0;
    border-bottom: 1px solid #AAAAAA;
    order: -1;
}

.dances:last-child {
    border-bottom: none;
}

.dances > .dances-description-container {
    height: auto;
    opacity: 1;
    overflow: hidden;
    padding: 0.25rem 1rem 0.75rem 1rem;
    transition: height 0.33s,
                opacity 0s,
                padding 0s;
}

.dances > .dances-description-container strong {
    font-weight: 600;    
}

.dances > .dances-description-container > .dances-additional-requirement {
    margin-bottom: 1rem;
}

.dances > .dances-description-container > .dances-description {
    white-space: pre-wrap;
}

.dances > .dances-description-container.hidden {
    height: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
}

.dances-row > .dances-expand,
.dances-row > .dances-pin {
    font-size: 125%;
    padding: 0;
    margin: 0;
}