.spells-pin,
.spells-toggle {
    height: 100%;
    transform: rotate(0deg);
    transition: transform 0.25s ease;
    width: 100%;
}

.spells-pin[aria-checked="true"] {
    transform: rotate(-45deg);
}

.spells-toggle[aria-expanded="true"] {
    transform: rotate(90deg);
}

.spells-list-header,
.spells-row {
    align-items: center;
    display: grid;
    grid-template-columns: 0.25fr 1.25fr 1fr 0.75fr 1.5fr 1.5fr 0.25fr;
}

.spells-list-header {
    border-bottom: 1px solid #CCCCCC;
    font-weight: bold;
    order: -10;
}

.spells-list-header > div,
.spells-row > div {
    padding: 0.5rem;
}

.spells {
    border-bottom: 1px solid #CCCCCC;
}

.spells[aria-pinned="true"] {
    background-color: #D0D0D0;
    border-bottom: 1px solid #AAAAAA;
    order: -1;
}

.spells:last-child {
    border-bottom: none;
}

.spells > .spells-description-container {
    height: auto;
    opacity: 1;
    overflow: hidden;
    padding: 0.25rem 1rem 0.75rem 1rem;
    transition: height 0.33s,
                opacity 0s,
                padding 0s;
}

.spells > .spells-description-container strong {
    font-weight: 600;    
}

.spells > .spells-description-container > .spells-additional-requirement {
    margin-bottom: 1rem;
}

.spells > .spells-description-container > .spells-description {
    white-space: pre-wrap;
}

.spells > .spells-description-container.hidden {
    height: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
}

.spells-row > .spells-expand,
.spells-row > .spells-pin {
    font-size: 125%;
    padding: 0;
    margin: 0;
}